<h1 class="stitle">Applicant List</h1>

<%@company.job_posts.each do |jp|%>

<div class="posttitle"><%= jp.job_post_title %></div>
<br />
<%unless jp.applicants.empty?  %>

<% jp.applicants.each do |a|%>
<%= link_to "#{a.applicant_name}",user_applicant_path(current_user,a) %>
<br />
<%end%>
<% else %>
No one yet!!
<%end%>
<hr />

<%end%>

<%= sidebar_chooser(current_user)%>