<h1>Editing applicant_job_preference</h1>

<%= render 'form' %>

<%= link_to 'Show', [@applicant_job_preference.applicant.user,@applicant_job_preference.applicant,@applicant_job_preference] %> |

<%= render :partial=>"layouts/applicant_sidebars"%>
