<h1 class="text-center text-primary">New applicant_job_preference</h1>

<%= render 'form' %>

<%= link_to 'Back', user_applicant_applicant_job_preferences_path(@applicant.user,@applicant), :class=>"btn btn-primary" %>

<%= render :partial=>"layouts/applicant_sidebars"%>