<h1>Editing applicant_education_history</h1>

<%= render 'form' %>

<%= link_to 'Show', [@applicant_education_history.applicant.user,@applicant_education_history.applicant,@applicant_education_history] %> |

<%= render :partial=>"layouts/applicant_sidebars"%>