<h1>Welcome to JobMatch</h1>
<p>Here at JobMatch we are focused on simply providing high quality people high quality jobs.
We believe that everyone should love what they do and that finding the perfect job often isn't easy.
But we also believe you shouldn't give up and you shouldn't settle. A new job can be more than a new paycheck,
it can be a new career and a new life. Your new job is waiting! </p>

<h3>For applicants</h3>
<p>We hope to provide applicants not only with an array of job choices, but with the tools and knowledge to get those jobs.</p>

<h3>For companies</h3>
<p>We also know that hiring people can be one of the most important and largest challenges companies face.
Often the cost of hiring recruiters can be overwhelming while results are underwhelming. 
We are here to provide an affordable, usable platform filled with great candidates waiting for your call.
See our sample job description and recruiting tips. Post your job and get your first applications today. </p>

<%=sidebar_chooser(current_user)%>
