.border-double-pay
{
	border:2px double red;
}
.banner
{
	font-size: 4em;
	font-weight: bold;
	font-family: ZawgyiOne;
	
	color: black;
	text-shadow: 3px 3px #B99230;
	vertical-align: middle;
}

.dropdown-menu
{
	background-color: #3A3B44;
	width: 400%;
	
}
.bg-gradient-pay
{
	background: rgb(124,122,112); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(124,122,112,1) 0%, rgba(50,52,63,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(124,122,112,1)), color-stop(100%,rgba(50,52,63,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(124,122,112,1) 0%,rgba(50,52,63,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(124,122,112,1) 0%,rgba(50,52,63,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(124,122,112,1) 0%,rgba(50,52,63,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(124,122,112,1) 0%,rgba(50,52,63,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7a70', endColorstr='#32343f',GradientType=0 ); /* IE6-9 */
	
}
ul
{
	list-style: none;
}
a {
	text-decoration: none;
}
a:link, a:visited {
color: #FFFFFF;
}
a:hover, a:active {
color: #0AD8CC;
text-decoration: none;
}
table 
{
	width: 100%;
}
body
{
	background: #DCDCDC; /* Old browsers */
	color: #DCDCDC;
	font-family:Courier;
	
}

.sidenav-deco
{
	//background-color: #669999;
	border: 0px solid #0AD8CC;
	border-radius: 15px 15px 15px 15px;
	
}
.sidenav-ul a {
	text-decoration: none;
	margin-bottom: 10px;
}
.sidenav-ul a:link, .sidenav a:visited {
//color: #15A589;
}
.sidenav-ul a:hover, .sidenav a:active {
color: #0AD8CC;
text-decoration: none;
}

.sidenav-ul
{
	list-style: none;
	margin-left: -40px;
	margin-top: 20px;
	//background-color: #999967;
}
.header-gradient-pay
{
	text-align:center;
	padding-bottom: 10px;
	padding-top: 10px;
	background: #e2e2e2; /* Old browsers */
	background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}
.middlecontent
{
	background-color: #62615E;
	//border: 1px solid rgb(200,0,0);
	border-radius: 20px;
	padding: 0px 0px 10px 10px;
}

.box-shadow-pay
{
	box-shadow: 4px 4px 3px #666; 
}
.btn
{
	box-shadow: 4px 4px 3px #666; 
}




.jobpost_category
{
	border-bottom: 2px solid red;

}
.jobpost_category_title
{
	font-size: 1.2em;
	text-align: center;
	color: #92A2C6!important;
	text-shadow: 1px 1px gray;
}
.jobpost_title
{
	font-size:1.5em;
	min-height: 80px;
	border-bottom:3px double red;
	
}
td a:link,td a:visited
{
	color: #003366;
}
td a:hover, td a:active {
	color: white;
	text-decoration: none;
}
.category_header
{
	margin-top:10px;
	background-color: #563D7C;
	width:10%;
	box-shadow: 3px 3px #B99254;
}
.category_current
{
	color: red;
}
/*this section is used by home page*/
.keynote
{
	color:#000000;
	border:2px solid #111111;
	border-radius:0% 50% 0% 50%;
}

.keynote h3
{
	color:#084B5B;
}
.keynote-applicant
{
	
	background-color: #999999;
}
.keynote-employer
{
	background-color: #999999;
}


.pad
{
	margin:0px 5px 5px 0px;
}
.intro
{
	border:2px solid #000000;
	background-color: #999999;
	text-align: center;
	color: #000000;
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 10px;
}
.intro-heading
{
	color: #084B5B;
}
/*This section is used by company show page*/
.company-logo
{
	
	padding:10px;
}

.company-name a
{
	font: PT serif;
	font-size: 25px;
	color: #003366;
}

.company-name
{
	font: PT serif;
	font-size: 2em;
	color: #003366;
}
.company-logoname
{
	color: #0153A3;
	font-size:1.1em;
	padding:10px;
}
.company-description
{
	border:1px solid #FFFFFF;
	border-radius: 5px;
	background-color: #333333;
	
}
.company-description h4
{
	color: #0153A3;
	padding-left:10px;
}
.company-description section
{
	color: #999999;
	padding-left: 10px;
}
.box-shadow-pay-gray
{
	box-shadow: 4px 4px 3px #111111;
}
.label-primary
{
	background-color: transparent!important;
	color: #39B3D7;
	font: normal 15px courier !important;
}
.preference-table td
{
	background-color: #62615E;
}
.pagination li a,.pagination li span
{
	//color:#084B5B;
	background-color:#62615E;
	font-size: 10pt;
}
.awitd-panel
{
	width: 60%;
	margin-left: 20%;
	color: black;
}


.align-image
{
	vertical-align: middle;
	
}



.btn-align
{
	padding: 8px 10px 0 0;
}

.loginmessage
{
	padding-top: 7px;
}
.btn-default{
	background-color: #000000;
}

.bluetext
{
	color: #003366;
}

.blacktext
{
	color: black;
}

hr { display: block; height: 1px;
    border: 0; border-top: 2px solid #000000;
    margin: 1em 0; padding: 0; }
    
.title
{
	color: #000000;
	font-size: 9pt;
	background: #999967;
}

.content
{
	color: #000000;
	font-size: 8pt;
	background: #CCCCCC;
}

.posttitle
{
	color:#003366;
	font-size: 12pt;
}

.stitle
{
	color: #003366;
	
}
    
#notice{
	display:block;
	background:#000000;
	color: #003366;
	margin: 10px 0 0 0;
	text-align:center;
}




