<h1 class="text-center text-primary">Editing applicant_job_history</h1>

<%= render 'form' %>

<%= link_to 'Show',[@applicant_job_history.applicant.user,@applicant_job_history.applicant,@applicant_job_history] %>
