<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @location.name %>
</p>


<%= link_to 'Edit', edit_user_location_path(:user_id=>current_user.id,:id=>@location.id) %> |

<%= sidebar_chooser(current_user)%>
