<% content_for :left_bar do %>
	<nav>
		<ul class="sidenav-ul">
			<%= link_to 'Category', categories_path(:user_id=>current_user.id),:class=>"btn btn-primary btn-lg btn-block" %>
			<%= link_to 'Company list',user_companies_path(current_user),:class=>"btn btn-primary btn-lg btn-block"%>
			<%= link_to 'Applicant list',user_applicants_path(current_user),:class=>"btn btn-primary btn-lg btn-block"%>
		</ul>
	</nav>	
<%end%>